.back {
    width: 100%;
    height: 100%;
    background: url("../../public/light5.png") center/cover;
    background-size: 1300px 700px;
    width: 1300px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}



.neon {
    display: flex;
    position: absolute;
}

.neon p{
    font-family: HancomUljuBangudae;
    color: #f7eebb;
    font-size: 6vw;
    line-height: 9vw;
    text-shadow: 0 0 2vw #f8ecee;
    align-content: center;

    animation: neon 4s ease infinite;
  -moz-animation: neon 4s ease infinite;
  -webkit-animation: neon 4s ease infinite;
}

@font-face {
    font-family: 'HancomUljuBangudae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/HancomUljuBangudae.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes neon {
    0%,
    100% {

      color: #fdde6c;
    }
    50% {
      /* text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A; */
      color: #ac8c1b;
    }
  }
  